@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Public Sans";
}
body{
  background: #EFEEF8;
  height: 100%;
}

/* html, body {
  overflow: hidden;
  height: 100%;
} */

.form-control {
  font-size: 20px !important;
  height: 58px !important;
  width: 100% !important;
  background: #EFEEF8 !important;
  border-radius: 8px !important;
  padding-left: 70px !important;
}

.react-tel-input .selected-flag {
  width: 60px !important;
  padding: 15px !important;
}

.react-tel-input .flag-dropdown {
  border-right: none !important;
}

.react-tel-input .flag {
  transform: scale(2) !important;
}

/* Accordion */
.css-x2o9yg-JoyAccordionGroup-root {
  gap: 10px !important;
}

.css-1twr7re-JoyAccordionSummary-button {
  height: 64px !important;
  border-radius: 6px !important;
  border: 1px solid var(--300, #BFBAE3) !important;
}

.css-x2o9yg-JoyAccordionGroup-root .MuiAccordion-root:not([data-last-child]) {
  border: none;
}

.css-m65nqi-JoyAccordionDetails-root {
  border: 1px solid #BFBAE3 !important;
  border-top: none;
  border-radius: 0 0 6px 6px !important;
  margin-top: -5px;
  background: red !important;
}

.css-m65nqi-JoyAccordionDetails-root:not(.Mui-expanded) {
  border: none;
}

.css-1r2bn3-JoySvgIcon-root {
  margin-right: 22px !important;
  color: #BFBAE3 !important;
}

.css-q7gy78-JoyAccordionSummary-indicator.Mui-expanded {
  margin-right: 22px !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  justify-content: space-between !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list  {
  min-width: 340px !important;
}

.css-jb2345-JoyAccordionDetails-content {
  gap: 10px;
}
